﻿ul {
    page-break-inside: avoid;
}

.hidden {
    display: none;
}

.error {
    color: red;
}

.success {
    color: purple;
}

.submit-button {
    padding: 5px 8px;
    border: solid 1px black;
    background: #dedede;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

#documentsUploadFormToIndexTerms {
    margin-bottom: 15px;
}

#documentsUploadFormToIndexTerms label {
    font-weight: bold;
}

#documentsUploadFormToIndexTerms input {
    margin-bottom: 15px;
}

#documentsUploadAnimationElement img {
    width: 15%;
    height: 10%;
}

#uploadResultsContainer {
    margin-bottom: 30px;
}

#documentsSearchForm {
    margin-bottom: 30px;
}

.search-field {
    width: 400px;
    outline: none;
    padding: 5px 3px;
    margin-right: 5px;
}

#searchResultsContainer {
    margin-bottom: 30px;
}

#searchResultsContainer p {
    font-style: italic;
}

.searchResultContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    border: solid 1px grey;
    padding: 10px;
    border-radius: 3px;
}

.searchResultContainer div {
    margin-top: 15px;
    margin-bottom: 15px;
}

.searchResultContainer a {
    text-decoration: none;
}

#indexingMetricsCalculationForm {
    margin-bottom: 30px;
}

#indexingMetricsCalculationForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

#indexingMetricsCalculationForm label input {
    margin-left: 15px;
    text-align: center;
}

table.gridtable {
    margin-top: 10px;
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    margin-right: 10px;
    display: inline-block;
}

table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

#documentsUploadFormToCreateNGrams {
    border: solid 1px brown;
    margin-bottom: 15px;
    width: 65%;
    padding: 10px;
    border-radius: 5px;
}

#documentsUploadFormToCreateNGrams label {
    font-weight: bold;
}

#documentsUploadFormToCreateNGrams input {
    margin-bottom: 15px;
}

#documentsUploadFormToCreateNGrams select {
    margin-bottom: 7px;
    width: max-content;
}

#documentsUploadFormToDefineLanguage {
    border: solid 1px brown;
    margin-bottom: 15px;
    width: 65%;
    padding: 10px;
    border-radius: 5px;
}

#documentsUploadFormToDefineLanguage label {
    font-weight: bold;
}

#documentsUploadFormToDefineLanguage input {
    margin-bottom: 15px;
}

.ngram-comparison-container {
    display: flex;
    flex-direction: row;
}

#documentsUploadFormToDefineStems input {
    margin-bottom: 15px;
}

.language-definition-container {
    display: flex;
    flex-direction: row;
}

#documentsUploadFormToCreateTranslationDictionary {
    margin-bottom: 15px;
}

#documentsUploadFormToCreateTranslationDictionary label {
    font-weight: bold;
}

#documentsUploadFormToCreateTranslationDictionary input {
    margin-bottom: 15px;
}

#translateForm {
    margin-bottom: 15px;
}
