﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<form method="post" action="@Url.Action("Upload", "Stem")" enctype="multipart/form-data" id="documentsUploadFormToDefineStems">

    <label>
        Upload one or more files to define stems:
        <input type="file" name="files" multiple />
    </label>
    <br />
    <input type="submit" value="Upload" class="submit-button" />
</form>
