﻿@using System.Collections.Generic;
@using SearchEngine.BLL.StatisticModels;

@model ICollection<DocumentStemModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Define stems";
}

@foreach (DocumentStemModel documentStemModel in Model)
{
    <h3>@documentStemModel.DocumentDTO.Title</h3>
    @Html.ActionLink("Show", "Show", "Document", new {publicId = documentStemModel.DocumentDTO.PublicId})
    <br />
    <table class="gridtable">
        <tr>
            <th>Term</th>
            <th>Stem</th>
            <th>Number of occurrences</th>
            <th>Language</th>
        </tr>

        @foreach (StemModel stemModel in documentStemModel.StemModels)
        {
            <tr>
                <td>@stemModel.Term</td>
                <td>@stemModel.Stem</td>
                <td>@stemModel.NumberOfOccurrence</td>
                <td>@documentStemModel.DocumentDTO.Language</td>
            </tr>
        }

    </table>
}
