﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<form method="post" id="documentsUploadFormToIndexTerms">
    @Html.AntiForgeryToken()

    <label>Upload one or more files:
        <input type="file" name="files" multiple />
    </label>

    <input type="submit" value="Upload" class="submit-button"/>
</form>

<div id="documentsUploadAnimationElement" class="hidden">
    <img src="@Url.Content("~/images/loading.gif")" alt="Uploading..." />
</div>

<div id="uploadResultsContainer" class="hidden">

</div>

<form method="get" id="documentsSearchForm">
    <input type="text" name="query" placeholder="Search query" class="search-field"/>

    <input type="submit" value="Search" class="submit-button"/>
</form>

<div id="searchResultsContainer" class="hidden">

</div>

<form method="post" id="indexingMetricsCalculationForm" class="hidden">
    <label>
        Relevant results
        <input type="text" name="numberOfRelevantResults" readonly />
    </label>
    <label>
        Not included not relevant results
        <input type="text" name="notIncludedNotRelevantResults" readonly />
    </label>
    <label>
        Not relevant results
        <input type="text" name="numberOfNotRelevantResults" />
    </label>
    <label>
        Not included relevant results
        <input type="text" name="notIncludedRelevantResults" />
    </label>

    <input type="submit" value="Calculate metrics" class="submit-button"/>
</form>

<div id="indexingMetricsContainer" class="hidden">

</div>

@section Scripts {
    <!--TODO: change to bundle-->
    <script type="module" src="/js/elements-ids.js"></script>
    <script type="module" src="/js/form-fields.js"></script>
    <script type="module" src="/js/routes.js"></script>
    <script type="module" src="/js/pages/common.js"></script>
    <script type="module" src="/js/pages/index-and-search.js"></script>
}
