﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<form method="post" id="documentsUploadFormToCreateTranslationDictionary">
    @Html.AntiForgeryToken()

    <label>
        Upload one or more files to create translation dictionary:
        <input type="file" id="fileInputToCreateTranslationDictionary" name="files" multiple />
    </label>
    <br />

    <input type="submit" value="Upload" class="submit-button" />
</form>

<div id="documentsUploadAnimationElement" class="hidden">
    <img src="@Url.Content("~/images/loading.gif")" alt="Uploading..." />
</div>

<div id="uploadResultsContainer" class="hidden">

</div>

<form method="get" id="translateForm">

    <input type="text" name="content" placeholder="Translate content" class="search-field" id="inputWithContentToTranslate"/>

    <input type="submit" value="Translate" class="submit-button" />
</form>

<div id="translateResultsContainer" class="hidden">

</div>

@section Scripts {
    <!--TODO: change to bundle-->
    <script type="module" src="/js/elements-ids.js">
    </script>
    <script type="module" src="/js/form-fields.js">
    </script>
    <script type="module" src="/js/routes.js">
    </script>
    <script type="module" src="/js/pages/common.js">
    </script>
    <script type="module" src="~/js/pages/translate.js">
    </script>
}
