﻿@using SearchEngine.BLL.StatisticModels;
@using SearchEngine.BLL.DTO;
@using System.Linq;

@model LanguageDefinitionModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Compare ngrams";
    DocumentLanguageModel documentLanguageModel = Model.DocumentLanguageModels.First();
}

<div class="ngram-comparison-container">
    <table class="gridtable">
        <caption>@documentLanguageModel.SpecifiedLanguageDocumentDTO.Title</caption>
        <tr>
            <th>Specified language document</th>
        </tr>

        @foreach (NgramDTO ngramDTO in documentLanguageModel.SpecifiedLanguageDocumentDTO.NgramDTOs)
        {
            <tr>
                <td>@ngramDTO.Value : @ngramDTO.NumberOfOccurrences</td>
            </tr>
        }
    </table>

    <table class="gridtable">
        <caption>@Model.UnrecognizedLanguageDocumentDTO.Title</caption>
        <tr>
            <th>Test document</th>
            <th>Ngram distances</th>
        </tr>

        @for (int index = 0; index < Model.UnrecognizedLanguageDocumentDTO.NgramDTOs.Count(); index++)
        {
            NgramDTO ngramDTO = Model.UnrecognizedLanguageDocumentDTO.NgramDTOs.ElementAt(index);

            <tr>
                <td>@ngramDTO.Value : @ngramDTO.NumberOfOccurrences</td>
                <td>Ngram distance : @documentLanguageModel.NgramDistances.ElementAt(index)</td>
            </tr>
        }
    </table>
</div>
