﻿@using System.Collections.Generic;
@using SearchEngine.BLL.StatisticModels;
@using SearchEngine.Common;

@model ICollection<LanguageDefinitionModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Define language";
}

@foreach (LanguageDefinitionModel languageDefinitionModel in Model)
{
    AlphabetLanguageModel alphabetLanguageModel = languageDefinitionModel.AlphabetLanguageModel;


    <h3>@languageDefinitionModel.UnrecognizedLanguageDocumentDTO.Title</h3>
    <p>Language: @languageDefinitionModel.Language</p>
    @Html.ActionLink("Show", "Show", "Document", new { publicId = languageDefinitionModel.UnrecognizedLanguageDocumentDTO.PublicId })
    <br />

    <div class="language-definition-container">
        <table class="gridtable">
            <caption>Alphabet method</caption>
            <tr>
                <th>Number of span character matches</th>
                <th>Span lang coefficient</th>
                <th>Number of eng character matches</th>
                <th>Eng lang coefficient</th>
            </tr>
            <tr>
                <td>
                    @(languageDefinitionModel.Language == Language.English ? 0 : alphabetLanguageModel.NumberOfSpanCharacterMatches)
                </td>
                <td>
                    @(languageDefinitionModel.Language == Language.English ? 0 : alphabetLanguageModel.SpanAlphabetCoefficient)
                </td>
                <td>
                    @(languageDefinitionModel.Language == Language.Spanish ? 0 : alphabetLanguageModel.NumberOfEngCharacterMatches)
                </td>
                <td>
                    @(languageDefinitionModel.Language == Language.Spanish ? 0 : alphabetLanguageModel.EngAlphabetCoefficient)
                </td>
            </tr>

        </table>

        <table class="gridtable">
            <caption>Ngram method</caption>
            <tr>
                <th>Out of place measure</th>
                <th>Test document</th>
                <th></th>
            </tr>

            @foreach (DocumentLanguageModel documentLanguageModel in languageDefinitionModel.DocumentLanguageModels)
            {
                <tr>
                    <td>@documentLanguageModel.OutOfPlaceMeasure</td>
                    <td>
                        @Html.ActionLink(documentLanguageModel.SpecifiedLanguageDocumentDTO.Title, "Show", "Document",
                            new {publicId = documentLanguageModel.SpecifiedLanguageDocumentDTO.PublicId})
                    </td>
                    <td>
                        @Html.ActionLink("Compare ngrams", "CompareNgrams", "Language",
                            new {
                                specifiedLanguageDocumentPublicId = documentLanguageModel.SpecifiedLanguageDocumentDTO.PublicId,
                                testDocumentPublicId = languageDefinitionModel.UnrecognizedLanguageDocumentDTO.PublicId
                            })
                    </td>
                </tr>
            }

        </table>
    </div>
}
