﻿@using SearchEngine.Common;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<form method="post" id="documentsUploadFormToCreateNGrams">
    @Html.AntiForgeryToken()

    <label>
        Upload one or more files to create language NGrams:
        <input type="file" id="fileInputToCreateNGrams" name="files" multiple />
    </label>
    <br />
    @Html.DropDownList("language", Html.GetEnumSelectList<Language>(), "Select Language", new { @id = "languageSelectToCreateNGrams", @class = "" })
    <br />
    <input type="submit" value="Upload" class="submit-button" />
</form>

<div id="documentsUploadAnimationElement" class="hidden">
    <img src="@Url.Content("~/images/loading.gif")" alt="Uploading..." />
</div>

<div id="uploadResultsContainer" class="hidden">

</div>

<form method="post" action="@Url.Action("DefineLanguage", "Language")" enctype="multipart/form-data" id="documentsUploadFormToDefineLanguage">

    <label>
        Upload one or more files to define their language:
        <input type="file" name="files" multiple />
    </label>
    <br/>
    <input type="submit" value="Upload" class="submit-button" />
</form>

@section Scripts {
    <!--TODO: change to bundle-->
    <script type="module" src="/js/elements-ids.js"></script>
    <script type="module" src="/js/form-fields.js"></script>
    <script type="module" src="/js/routes.js"></script>
    <script type="module" src="/js/pages/common.js"></script>
    <script type="module" src="/js/pages/define-language.js"></script>
}
