﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SearchEngine</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
